*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%;
    font-family: "Mulish", sans-serif;
}

body{
    background-color: #121214;

    display: grid;
    place-content: center;

    padding: 7.2rem 10.4rem;

}

main{
    display: grid;
    grid-template-columns: repeat(3, 37.0rem);
    gap: 4.4rem 6.0rem;

}

header h1{
    color: #02799D;
    font-weight: 900;
    font-size: 5.8rem;

    margin-bottom: 0.8rem;
}

header p{
    color: #C4C4CC;
    font-weight: 600;
    font-size: 3.2rem;  

    margin-bottom: 6.2rem;
}

.card{
    background-color: #202024;

    /* max-width: 37.0rem; */

    border: 2px solid #323238;
    border-radius: 8px; 

    overflow: hidden; /*deixa a imagem dentro do card */

}

.card h2{
    color: #E1E1E6;
    font-size: 3.6rem;
    font-weight: 900;

    padding: 2.4rem 2.2rem 0;
}

.card p{
    color: #C4C4CC;
    font-weight: 600;
    font-size: 2.0rem;

    padding: 2.4rem 2.2rem 3.8rem;
}
