body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
}


#main{
    width: 626px;
    margin: 64px auto;
    text-align: center;
}

h1{
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    color: #3F3D56;
}

h1 span{
    color: #EE24FF;
}

p{
    color: #828282;
}

span, a{
    font-weight: bold;
    text-decoration: none;
}

p span, a{
    color: #3F3D56;
}

#footer{
    text-align: center;
    width: auto;
}


#footer a + a{
    margin-left: 36px;
}
#footer a + a + a{
    margin-left: 36px;
}

#footer img{
    display: flex;
    margin: 40px auto 0px;

}
